[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/brewfile"]
	path = config/brewfile
	url = git@github.com:pjbeyer/brewfile.git
	ignore = dirty
