# Zsh history + sessions #
##########################
.zsh_history
.zsh_sessions

# Zsh compiled script + zrecompile backup #
###########################################
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile #
########################################
*zcompdump*

# Bash history #
################
.bash_history

# GnuPG files #
###############
config/gnupg/pubring.kbx*
config/gnupg/trustdb.gpg
config/gnupg/private-keys*
config/gnupg/S.gpg-agent*

# Homebrew-file repository #
############################
config/homebrew/*_homebrew-brewfile*
