# Zsh history + sessions #
##########################
.zsh_history
.zsh_sessions

# Zsh compiled script + zrecompile backup #
###########################################
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile #
########################################
*zcompdump*

# Homebrew-file repository #
############################
config/homebrew/*_homebrew-brewfile*
