[user]
	name = Phil Beyer
	email = 191488477+pjb-flex@users.noreply.github.com
[github]
	user = pjb-flex
#[url "git@work.github.com:"]
#	insteadOf = https://github.com/
#	insteadOf = git@github.com:
#[push]
#	gpgSign = false
#[commit]
#	gpgSign = false
