[user]
	name = Phil Beyer
	email = 177578634+halchanar@users.noreply.github.com

[github]
	user = halchanar

[log]
	date = auto:human

[url "git@play.github.com:"]
	insteadOf = https://github.com/
	insteadOf = git@github.com:

[push]
	gpgSign = false

[commit]
	gpgSign = false
